{{- with site.Params.homeInfoParams }}

<script>
var xhr = new XMLHttpRequest();
xhr.open("GET", "https://api.countapi.xyz/hit/may-dzied.github.io/visits");
xhr.responseType = "json";
xhr.onload = function() {
    let visits = this.response.value;
    console.log(`This site has been visited ${visits} times.`);
}
xhr.send();
</script>

<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
